@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,600&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

/* Common */
.txtColorW{
  color: #fff!important;
}

p,a{
  word-wrap: break-word;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  line-height: 25px;}

a {
  word-wrap: break-word;
  text-decoration: none;
}

.newLine {
  white-space: pre-wrap;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

h3 {
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  display: inline-block;
  margin-bottom: 5px;
}

.taC{text-align: center!important;}
.taL{text-align: left!important;}
.taR{text-align: right!important;}

.m-20{margin: 20px!important;}

/* Header */

.navh1{
  font-size: 20px;
  margin-top: 4px;
}

.nav a{
  color: #fff!important;
}

.navLogo{
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

/* Column */

.Column2{
  vertical-align: middle;
  display: inline;
  position: relative;
}

.Column2.cyan-op{
  background-color: rgba(0,255,255,0.3);
}

.Column2.magenta-op{
  background-color: rgba(255,0,255,0.3);
}

.Column2 h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  font-size: 40px;
  margin: 0;
}

@media screen and (max-width:660px) {
  .Column2 h3{
    font-size: 20px;
  }
}

/* TopContents */

.topEyeCatch {
  text-align: center;
  display: inline-block;
  background: linear-gradient(to left, #fff8dc, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px auto;
  width: 100%;
  max-width: 100%;
}

.topEyeCatch_c {
  background: linear-gradient(to left, #fff8dc, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topEyeCatch p {
  font-size: 150px;
  line-height: 1em;
  margin: 0;
}

.topEyeCatch p span{
  position: relative;
  left: 15px;
}

@media screen and (max-width:480px) {
  .topEyeCatch p{
    font-size: 100px;
  }
}

.TopLinkImg{
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
  margin-bottom: 5px;
  display: block;
}

.TopLinkTxt{
  text-align: center;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

.topSubAreaBox{
  width: 90%;
  max-width: 100%;
  margin: -50px 20px 0 20px;
}

#topSelect{
  margin: 0 0 70px 0;
}

#topSelect a{
  color: #333;
}

/* About */

.careerStyle{
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
}

.careerStyle li{
  list-style: none;
}

/* Background */

.contentsBg img{
  width: 400px;
  max-width: 50%;
  position: fixed;
  user-select: none;
  z-index: -1;
  opacity: 0.7;
}

.contentsBg_1{
  position: relative;
  top: -30%;
  right: 10%;
}

.contentsBg_2{
  position: relative;
  top: 20em;
  left: 70%;
}

/* Animation */

.contentsBgSpin{
  animation: bg-rotate infinite 20s linear;
}

@keyframes bg-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Footer */
.footer{
  width: 100%;
  height: 10%;
  max-width: 100%;
  background-color: #1976d2;
  color: #fff;
}

.footer p{
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}
